*{
  margin: 0%;
  padding: 0%;
}



/* nav bar and header */
.hero{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("woods.webp");
  background-position: center;
  background-size: cover;
  position: relative;
}



nav{
  display: flex;
  padding: 2% 6% ;
  justify-content: space-between;
  align-items: center;
  background-color:#2C1508;
}


.nav-link{
  flex:1;
  text-align: center;

}

.nav-link ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px ;
  position: relative;
}

.nav-link ul li a {
color: #F0EAD2 ;
text-decoration: none;
font-size: 35px;
}

.nav-link ul li :hover{
  background-color:#5A4233;
}

.logo { 
display: flex;
height: 100px;
width: 100px;
padding: 8px 12px;
}
/* nav bar and header */

 








/* HERO TEXT*/
.text-box{ width: 90%;
  color: #F0EAD2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  border-width: 5px;
  border-style: solid;
  border-radius: 10px;
}

.text-box h1{
  margin: 20px;
  font-size: 62px;
  color: #F0EAD2;
}


.text-box p {
  margin:10px 200px;
  font-size: 30px;
  color: #F0EAD2 ;
}


.btn{
  background-color: #F0EAD2;
  border: none;
  padding: 9px 20px;
  text-align: center;
  display: inline-block;
  font-size: 10px;
  border-radius: 4px;
  color: black;
  margin: 20px;
}

/*HERO TEXT*/



h1{ text-align: center;
padding:10px;
font-size: 30px;
color: #6C584C;
font-size: 50px;
}


.achv { 
background-color: #F0EAD2;
height: 50vh;
border-style:outset;
border-color: #6C584C;
border-width: 10px;
height: auto;
}

/*HERO TEXT*/




.ach {
  display: inline-flex;
  column-gap: 10px;
  padding: 20px;
  margin: 10px;
  color: #F0EAD2;
}


.ach1{
  background-color: #A98467;
  border: #5A4233;
  border-width: 5px;
  border-style:solid;
  border-radius: 7px;
  padding: 10px;
}
 .p1{
  text-align: center;
  font-size: 25px;
 }



.ach2{
  background-color: #A98467;
  border: #5A4233;
  border-width: 5px;
  border-style:solid;
  border-radius: 7px;
  padding: 10px;
}
.ach3{
  background-color: #A98467;
  border: #5A4233;
  border-width: 5px;
  border-style:solid;
  border-radius: 7px;
  padding: 10px;
}



.HS{
  background-color: #F0EAD2;
  height: 250px;
}



.subheading{
  margin: 20px;
  padding : 10px;
  text-align: center;
  font-size: 25px;
}



.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  height: 300px;
  padding: 20px;
  background-color: #F0EAD2;
 color: #5A4233;
}






.flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  background-color: #F0EAD2;
  box-shadow: 10px 10px 5px #A98467;
  font-size: 25px;
  padding: 10px;
  justify-content: center;
  width: 200px;

}




.flex-items:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  background-color: #F0EAD2;
  box-shadow: 10px 10px 5px #A98467;
  font-size: 25px;
  padding: 10px;
  width: 200px;
}




.flex-items:nth-child(3) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  background-color: #F0EAD2;
  box-shadow: 10px 10px  5px #A98467;
  font-size: 25px;
  padding: 10px;
  width: 200px;
}



.flex-items:nth-child(4) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  background-color: #F0EAD2;
  box-shadow: 10px 10px 5px #A98467;
  font-size: 25px;
  padding: 10px;
  width: 200px;
}




/*footer*/
.container{
  max-width: 1170px;
  background-color: #2C1508;
  margin: auto;
}

ul{
  list-style: none;
}

.row{
  display: flex;
  flex-wrap:wrap ;
}
.footer{
  padding: 70px 0;
  background-color: #2C1508;
}

.footer-col{
  width: 20%;
  padding: 0 15px;
}


.footer-col h3 {
  font-size: 24px;
  color: #F0EAD2;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position:relative;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #F0EAD2;
  text-decoration: none;
  font-weight: 300;
  color: #F0EAD2;

}


.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 0 10px 10px 0;
  text-align: center;
}

.social-links a{
  display:flex;
  flex-wrap: wrap;
}
/*footer*/






/* @media screen and (max-width :320px){

  .text-box p {
   
    height: 25vh;
    font-size: 1rem;
    display: flex;
    flex-direction:column;
    margin:10px;
    margin-bottom: 70px;
  }

  .ACH{
    font-size: 40px;
  }

  .ach{
    display: flex;
    flex-direction: column;
    column-count: 1;
    column-gap: 20px;

  }
  .ach3 h1 {
    font-size: 40px;
  }

  .flex-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    height: 1300px;
    padding-top: 300px;
    padding-left: 80px;

  }
} */